@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fit-center {
    @apply flex flex-col m-0	justify-start items-center w-full absolute left-1/2 -translate-x-1/2 min-h-dvh;
  }

  .nav-button {
    @apply flex items-center justify-start px-3 py-2 w-full rounded-full hover:bg-gray-200;
  }

  .hero-header-container {
    @apply flex p-0 w-full h-full flex-col lg:flex-row;
  }

  .hero-header-image {
    @apply object-left-top object-cover w-1/2 h-full brightness-75;
  }

  .custom-heading {
    @apply prose prose-xl prose-slate font-bold mb-8;
  }

  .poster-container {
    @apply w-44 aspect-[27/40] rounded-md overflow-hidden shadow-sm hover:brightness-75 bg-slate-200;
  }

  .squared-skeleton {
    @apply skeleton rounded-none;
  }
}

@layer utilities {
  .box-inner-shadow {
    box-shadow: 80px 7px 60px 16px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 80px 7px 60px 16px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 80px 7px 60px 16px rgba(0, 0, 0, 1) inset;
  }

  .box-outer-shadow {
    box-shadow: 15px 0px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 15px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 15px 0px 0px 0px rgba(0,0,0,1);
  }

  .layout-grid {
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar main";
  }

  .grid-header {
    grid-area: header;
  }

  .grid-side-bar {
    grid-area: sidebar;
  }

  .grid-main {
    grid-area: main;
  }

  .detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  }

  .credit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .gallary-slider {
    display: inline-flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .gallary-slider::-webkit-scrollbar {
    display: none;
  }
}
